Source: ros-noetic-cob-navigation
Section: misc
Priority: optional
Maintainer: Felix Zeltner <fez@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://ros.org/wiki/cob_navigation
Standards-Version: 3.9.2

Package: ros-noetic-cob-navigation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cob-linear-nav, ros-noetic-cob-map-accessibility-analysis, ros-noetic-cob-mapping-slam, ros-noetic-cob-navigation-config, ros-noetic-cob-navigation-global, ros-noetic-cob-navigation-local, ros-noetic-cob-navigation-slam
Description: The cob_navigation stack provides different navigation packages for Care-O-bot.
